html,
body,
#__next {
  background: #fff; /* gray-100 */
  font-family: "Inter", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
}

*:not(.chakra-portal *):not(.chakra-menu__menu-list) {
  box-sizing: border-box;
  transition: all 0.2s ease, transform 0s;
}
